
<div style="margin:auto;width:80%">

  <div class="container">
    <div class="fixed">
      <mat-form-field style="width: 240px;">
        <mat-label class="mat-placeholder-class">Enter Assessment Type</mat-label>
        <mat-select style="width: 240px;">
          <mat-option>Consequence</mat-option>
          <mat-option>Criticality</mat-option>
          <mat-option>Hazard</mat-option>
          <mat-option>Vulnerability</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex-item" style="width: 300px">
      <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>
    </div>
  </div>

  <!--
  <div style="width: 100%; overflow: hidden;margin-top: 30px;border-style: solid;">
    <div style="width: 400px; float: left;">
      <mat-form-field style="margin:10px;width: 240px;">
        <mat-label style="font-weight:bold;font-size:large ;">Enter Assessment Type</mat-label>
        <mat-select style="width: 240px;">
          <mat-option>Consequence</mat-option>
          <mat-option>Criticality</mat-option>
          <mat-option>Hazard</mat-option>
          <mat-option>Vulnerability</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div style="margin-left: 350px; width:700px">
      <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>
    </div>
  </div>
  -->



<h1 style="text-align:center">RISC Assessment Library</h1>

<mat-selection-list class="api-choices" (selectionChange)="selectChoice($event)">
  <mat-list-option *ngFor = "let assessment of Assessment">
    <table>
      <tr>
        <td width="450">{{assessment.title}}</td>
        <td width="150">{{assessment.category}}</td>
        <td>{{assessment.type}}</td>
        <td style="text-align: right;"><button mat-raised-button color="primary" (click)="previewAssessment(assessment.id)">Preview</button></td>
      </tr>
      <!--
      <tr>
        <td colspan="3">{{assessment.tags}}</td>
      </tr>
      -->
    </table>
  </mat-list-option>
</mat-selection-list> 
</div>

<!--
<div *ngFor = "let assessment of Assessment" class="group">
  <p><b>Item :</b>{{assessment.id}}</p>
  <p><b>Title :</b> {{assessment.title}}</p>
  <p><b>Category: </b>{{assessment.category}}</p>
  <p><b>Type: </b>{{assessment.type}}</p>
  <p><b>Tags: </b>{{assessment.tags}}</p>
</div>
-->
