.mat-form-field {
    display: block;
}

textarea {
    height: 70px;
    resize: vertical;
}

.mat-dialog-actions {
    padding: 8px 0;
    display: block;
    min-height: 52px;
    align-items: center;
    margin-bottom: -24px;
    text-align: right;
}

.mat-button.mat-primary,
.mat-raised-button.mat-primary {
    background: #000000;
}