.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container .mat-drawer {
    padding-left: 5px;
    min-width: 200px;
}

.container .mat-drawer .mat-button {
    display: block;
    width: 100%;
    text-align: left;
}

.spacer {
    flex: 1 1 auto;
}

.cirds-title {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 44px
}

.cirds-top-menu-button {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px
}

.mat-toolbar.mat-primary {
    background: #000000;
}

.mat-button.mat-primary {
    color: #000000;
}