<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="push">
        <!--
        <button color="primary" mat-button routerLink="/dashboard">Dashboard</button>
        <button color="primary" mat-button routerLink="/dashboard/survey">Profile</button>
        <button color="primary" mat-button routerLink="/dashboard/survey">Hazard</button>
        <button color="primary" mat-button routerLink="/dashboard/survey">Vulnerability</button>
        <button color="primary" mat-button routerLink="/dashboard/survey">Consequences</button>
        <button color="primary" mat-button routerLink="/dashboard/exerciser">Exerciser</button>
        <button color="primary" mat-button routerLink="/dashboard/jstree">jstree</button>
        -->

        <div style="width: 300;height: 100;background-color: white;;margin-top:5px;">
            <div id="frmt" class="cattree"></div> 
        </div>  
    </mat-drawer>

    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <span class="cirds-title" routerLink="/dashboard">
                    {{title}}
                </span>

                <span class="spacer"></span>

                <!--<button mat-button class="cirds-top-menu-button" (click)="doJQuery()">JQuery</button>
                -->

                <button mat-button class="top-menu-choice" (click)="viewDashboard()">Dashboard</button>
             
                <button mat-button class="top-menu-choice" [matMenuTriggerFor]="aboveMenu">Reporting</button>
                <mat-menu #aboveMenu="matMenu" yPosition="above">
                  <button mat-menu-item>Assessment Results 1</button>
                  <button mat-menu-item>Assessment Results 2</button>
                </mat-menu>                
                
                <button mat-button class="top-menu-choice" [matMenuTriggerFor]="afterMenu">Assessment</button>
                <mat-menu #afterMenu="matMenu" xPosition="after">
                  <button mat-menu-item (click)="viewAssessmentLibrary()">Library</button>
                  <button mat-menu-item>Perform</button>
                </mat-menu>

                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item>Settings</button>
                    <button mat-menu-item>Healthcare System Profile</button>
                    <button mat-menu-item>Current Assessments</button>
                    <button mat-menu-item>Help</button>
                    <button mat-menu-item>About</button>
                  </mat-menu>
                  
                  <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>

            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>